<ul>
  <li>
    <input type="checkbox" (change)="showComprados($event)"> Não mostrar itens ja comprados.
  </li>

  @for (item of list; track item.produto) {
    @if (!item.comprado || (item.comprado && mostrarComprados))
    {
      <li> 
        <input type="checkbox" [checked]="item.comprado"
        (change)="markCheckbox($event, item.produto)">
        {{item.produto}} - {{item.quantidade}} - <button class="btn" onclick="deleteProduct(item.produto)">{{item.delete}}</button>
      </li>
    }
  
  }

</ul>







